openapi: 3.0.0
info:
  title: Swaptrade API Documentation
  description: Welcome to the official Swaptrade API documentation. This API allows developers to access Swaptrade's cryptocurrency swapping, trading, and liquidity services.
  version: '1.0.0'
  x-logo:
    url: 'https://www.swaptrade.io/static/media/swaptrade-logo.666dd459c9af3fadaf0bee6418f61703.svg'
    altText: Swaptrade

servers:
  - url: 'https://api.swaptrade.io/api'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

paths:

  /get-rate:
    servers:
      - url: 'https://api.swaptrade.io/api/swap'
    post:
      summary: Get Cryptocurrency Exchange Rate
      description: Get the current exchange rate for a specific pair of cryptocurrencies.
      tags:
        - Swap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                coin_send:
                  type: string
                  description: The cryptocurrency you are sending.
                coin_receive:
                  type: string
                  description: The cryptocurrency you want to receive.
      responses:
        '200':
          description: Exchange rate retrieved successfully.
        '400':
          description: Invalid request.

  /get-coins:
    servers:
      - url: 'https://api.swaptrade.io/api/swap'
    get:
      summary: Fetch Supported Cryptocurrencies
      description: Retrieve the list of supported cryptocurrencies, including prices, min/max amounts, and network fees.
      tags:
        - Swap
      responses:
        '200':
          description: Supported coins retrieved successfully.
        '400':
          description: Invalid request.

  /check-valid-wallet-address:
    servers:
      - url: 'https://api.swaptrade.io/api/swap'
    post:
      summary: Validate Wallet Address
      description: Check if a given wallet address is correctly formatted for a specific asset.
      tags:
        - Swap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                asset:
                  type: string
                  description: The asset for which the wallet address format should be validated.
                walletId:
                  type: string
                  description: The wallet address to validate.
      responses:
        '200':
          description: Wallet address is valid.
        '400':
          description: Invalid wallet address.

  /get-price:
    servers:
      - url: 'https://api.swaptrade.io/api/swap'
    post:
      summary: Calculate Exchange Amount After Fees
      description: Retrieve the actual amount the user will receive after Swaptrade fees are applied.
      tags:
        - Swap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                coin_send_network:
                  type: string
                  description: The network of the cryptocurrency being sent.
                coin_send:
                  type: string
                  description: The cryptocurrency the user wants to send.
                coin_receive_network:
                  type: string
                  description: The network of the cryptocurrency the user wants to receive.
                coin_receive:
                  type: string
                  description: The cryptocurrency the user wants to receive.
                amount_send:
                  type: string
                  description: The amount of cryptocurrency the user is sending.
                markup:
                  type: integer
                  description: Optional markup percentage added to the transaction.
      responses:
        '200':
          description: Price calculated successfully.
        '400':
          description: Invalid request.

  /create-order:
    servers:
      - url: 'https://api.swaptrade.io/api/swap'
    post:
      summary: Create a New Order
      description: Submit an order request specifying cryptocurrencies, networks, recipient addresses, and optional references.
      tags:
        - Swap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                coin_send:
                  type: string
                  description: The cryptocurrency the user is sending.
                coin_send_network:
                  type: string
                  description: The network of the cryptocurrency being sent.
                coin_receive:
                  type: string
                  description: The cryptocurrency the user wants to receive.
                coin_receive_network:
                  type: string
                  description: The network of the cryptocurrency to be received.
                amount_send:
                  type: integer
                  description: The amount of cryptocurrency to send.
                recipient:
                  type: string
                  description: The wallet address of the recipient.
                ref:
                  type: string
                  description: A reference code for internal tracking (optional).
                markup:
                  type: integer
                  description: Optional markup percentage applied to the transaction.
      responses:
        '200':
          description: Order created successfully.
        '400':
          description: Invalid request.

  /order:
    servers:
      - url: 'https://api.swaptrade.io/api/swap'
    post:
      summary: Retrieve Order Details
      description: Fetch the status and details of a specific order using its unique ID.
      tags:
        - Swap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: string
                  description: The unique identifier of the order.
      responses:
        '200':
          description: Order details retrieved successfully.
        '400':
          description: Invalid order ID.

  /fetch-transaction:
    servers:
      - url: 'https://api.swaptrade.io/api/swap'
    get:
      summary: Retrieve Transaction by ID
      description: Fetch transaction details using a unique transaction ID from Fireblocks.
      tags:
        - Swap
      parameters:
        - name: orderId
          in: query
          required: true
          schema:
            type: string
          description: The unique identifier of the transaction.
      responses:
        '200':
          description: Transaction retrieved successfully.
        '400':
          description: Invalid transaction ID.

  /assets-info:
    servers:
      - url: 'https://ec2.swaptrade.io/api/trade'
    get:
      summary: Fetch Supported Assets
      description: Retrieve a list of all supported trading assets.
      tags:
        - Trade
      responses:
        '200':
          description: Supported assets retrieved successfully.
        '400':
          description: Invalid request.

  /get-orders-for-service:
    servers:
      - url: 'https://api.swaptrade.io/api/swap'
    get:
      summary: Retrieve Orders for Service
      description: Fetch details of all service orders using required headers.
      tags:
        - Swap
      parameters:
        - name: trocadoor
          in: header
          required: true
          schema:
            type: string
          description: The authorization header for the Trocadoor service.
        - name: swapspace
          in: header
          required: true
          schema:
            type: string
          description: The authorization header for the Swapspace service.
        - name: flashift
          in: header
          required: true
          schema:
            type: string
          description: The authorization header for the Flashift service.
        - name: cake
          in: header
          required: true
          schema:
            type: string
          description: The authorization header for the Cake service.
      responses:
        '200':
          description: Orders fetched successfully.
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.

  /withdrawal-fees:
    servers:
      - url: 'https://api.swaptrade.io/api/trade'
    get:
      summary: Retrieve Withdrawal Fees
      description: Fetch the applicable withdrawal fees for various cryptocurrencies.
      tags:
        - Trade
      responses:
        '200':
          description: Withdrawal fees retrieved successfully.
        '400':
          description: Invalid request.