openapi: 3.0.0
info:
  title: Swaptrade API Documentation
  version: '1.0.0'
  description: |
    Welcome to the official Swaptrade API documentation. This API allows seamless integration for cryptocurrency swaps, trading, and related services. 
    Our platform provides a secure and efficient way to access liquidity, check prices, create and manage orders, and retrieve transaction details.

  x-logo:
    url: 'https://www.swaptrade.io/static/media/swaptrade-logo.666dd459c9af3fadaf0bee6418f61703.svg'
    altText: Swaptrade

servers:
  - url: 'https://api.swaptrade.io/api'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

paths:

  /get-rate:
    servers:
      - url: 'https://api.swaptrade.io/api/swap'
    post:
      summary: Get Cryptocurrency Exchange Rate
      description: Retrieve the current exchange rate for two specified cryptocurrencies.
      tags:
        - Swap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                coin_send:
                  type: string
                  description: The cryptocurrency you are sending.
                coin_receive:
                  type: string
                  description: The cryptocurrency you want to receive.
      responses:
        '200':
          description: Exchange rate retrieved successfully
        '400':
          description: Invalid request parameters

  /get-coins:
    servers:
      - url: 'https://api.swaptrade.io/api/swap'
    get:
      summary: Get Supported Cryptocurrencies
      description: Retrieve a list of all supported cryptocurrencies, including their prices, max/min amounts, and network fees.
      tags:
        - Swap
      responses:
        '200':
          description: List retrieved successfully
        '400':
          description: Invalid request

  /check-valid-wallet-address:
    servers:
      - url: 'https://api.swaptrade.io/api/swap'
    post:
      summary: Validate Cryptocurrency Wallet Address
      description: Verify if a wallet address format is valid for a specified asset.
      tags:
        - Swap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                asset:
                  type: string
                  description: The cryptocurrency asset to check.
                walletId:
                  type: string
                  description: The wallet address to validate.
      responses:
        '200':
          description: Address validation successful
        '400':
          description: Invalid request

  /create-order:
    servers:
      - url: 'https://api.swaptrade.io/api/swap'
    post:
      summary: Create a New Swap Order
      description: Create a new cryptocurrency swap order with specified parameters.
      tags:
        - Swap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                coin_send:
                  type: string
                  description: The cryptocurrency being sent.
                coin_send_network:
                  type: string
                  description: Network of the sending coin, if applicable.
                coin_receive:
                  type: string
                  description: The cryptocurrency to be received.
                coin_receive_network:
                  type: string
                  description: Network of the receiving coin, if applicable.
                amount_send:
                  type: integer
                  description: The amount being sent.
                recipient:
                  type: string
                  description: The receiving wallet address.
                ref:
                  type: string
                  description: Optional reference for the order.
                markup:
                  type: integer
                  description: Any markup applied to the order.
      responses:
        '200':
          description: Order created successfully
        '400':
          description: Invalid request parameters

  /fetch-transaction:
    servers:
      - url: 'https://api.swaptrade.io/api/swap'
    get:
      summary: Retrieve Transaction Details
      description: Fetch transaction details based on the transaction ID.
      tags:
        - Swap
      parameters:
        - name: orderId
          in: query
          required: true
          schema:
            type: string
            description: The ID of the transaction.
      responses:
        '200':
          description: Transaction details retrieved successfully
        '400':
          description: Invalid request

  /assets-info:
    servers:
      - url: 'https://ec2.swaptrade.io/api/trade'
    get:
      summary: Retrieve Asset Information
      description: Get detailed information about supported assets.
      tags:
        - Trade
      responses:
        '200':
          description: Asset information retrieved successfully
        '400':
          description: Invalid request

  /withdrawal-fees:
    servers:
      - url: 'https://api.swaptrade.io/api/trade'
    get:
      summary: Retrieve Withdrawal Fees
      description: Get the latest withdrawal fees for all supported assets.
      tags:
        - Trade
      responses:
        '200':
          description: Withdrawal fees retrieved successfully
        '400':
          description: Invalid request
